@charset "UTF-8";


* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header > h1 {

    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

form {

    margin: auto;
    background-color: rgb(153, 231, 231);
    width: 400px;
    height: 200px;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
}


label {

    width: 50px;
    display: inline-block;
}

input {

    margin-bottom: 10px;
}

#res {

    text-align: center;
    padding: 10px;
    color: red;
    font-weight: bolder;
    width: 400px;
    border-radius: 10px;
    background-color: rgba(162, 162, 235, 0.249);
    margin: auto;
}

footer {
    margin-top: 10px;
    text-align: center;
}