@charset "UTF-8";


body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(59, 76, 235);
}

header > h1 {

    text-align: center;
}

main {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 500px;
    height: 590px;
    border-radius: 20px;
    background-color: rgb(86, 22, 139);
    margin: 0 auto;
    box-shadow: 2px 2px 10px black;

}

#sec {

    text-align: center;
}

#msg {

    margin-bottom: 20px;
    letter-spacing: 3px;
}

#imagem {

    text-align: center;
    display: block;
    box-shadow: 2px 2px 20px black;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

#imagem:hover {

    opacity: 0.5;
    transition: 1s;
    
}

#res {

    letter-spacing: 3px;
}

form {

    margin-top: 10px;

}

label {

    width: 105px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}


.botao {

    margin-bottom: 5px;
    margin-left: 220px;
}

input {

    margin-bottom: 5px;
}


footer {

    text-align: center;
    margin-top: 20px;
}