@charset "UTF-8";


body {

    font-family: Arial, Helvetica, sans-serif;
    /*background-image: linear-gradient(rgb(241, 94, 26), white);*/
}

header > h1 {

    text-align: center;
}

main {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 600px;
    height: 690px;
    border-radius: 20px;
    background-color: rgb(86, 22, 139);
    margin: 0 auto;
    box-shadow: 2px 2px 10px black;
    background-image: url(../img/sunny-day-picture.jpg);

}

#sec {

    text-align: center;
    
}

#msg {

    margin-bottom: 30px;
    letter-spacing: 3px;
}

#imagem {

    text-align: center;
    display: block;
    box-shadow: 2px 2px 20px black;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    letter-spacing: 3px;
}

#imagem:hover {

    opacity: 0.5;
    transition: 1s;
    
}

#res {

    letter-spacing: 3px;
    margin-bottom: 30px;
}

form {

    margin-top: 10px;

}

label {

    width: 155px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}


.botao {

    margin-bottom: 5px;
    margin-left: 230px;
}

input {

    margin-bottom: 5px;
    margin-left: -20px;
    border-radius: 5px;
}

#formulario {

    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

picture {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0px;
}

#flagbr {

   width: 48px;
   height: 48px;
   display: block;
   opacity: 0;
   margin-top: -10px;
}

#estrangeiro {

   width: 48px;
   height: 48px;
   opacity: 0;
   margin-top: -50px;
}

footer {

    text-align: center;
    margin-top: 20px;
}